[submodule "libfranka"]
	path = scratchpad/libfranka
	url = https://github.com/frankaemika/libfranka
[submodule "franka_bringup"]
	path = scratchpad/slicer_ros2_ws/franka_bringup
	url = https://mcsgitlab.utm.utoronto.ca/iseoluwa/franka_bringup.git
[submodule "franka_description"]
	path = scratchpad/slicer_ros2_ws/franka_description
	url = https://mcsgitlab.utm.utoronto.ca/iseoluwa/franka_description.git
